<!DOCTYPE html>
<html class="no-js" lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>News | Snicket Eggs - Free Range Chicken and Duck Eggs from Addingham</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Free range chicken and duck eggs in Addingham. The small holding runs along the snicket by back beck in Addingham and the eggs are available to buy.".>
    <meta property="og:locale" content="en_GB">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Snicket Eggs - Free Range Chicken and Duck Eggs from Addingham">
    <meta property="og:description" content="Free range chicken and duck eggs in Addingham">
    <meta property="og:image" content="assets/ducks-eating--low.jpg">
    <meta property="og:url" content="https://snicket-eggs.surge.sh/">
    <meta name="keywords" content="eggs,free range,free range eggs,Addingham,Addingham eggs,local,snicket eggs,chickens,ducks,chicken eggs,duck eggs,hens,yorkshire dales,wharfedale,buy local eggs, blog, news" >
    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,700" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav role="navigation" class="mobile-nav">
      <a id="mob-nav-home" class="mob-nav" href="index.html">Home</a>
      <a id="mob-nav-meet" class="mob-nav" href="hens.html">Meet the Hens</a>
      <a id="mob-nav-blog" class="mob-nav" href="blog.html">News</a>
      <a id="mob-nav-contact" class="mob-nav" href="contact.html">Contact</a>
      <a class="close-nav" href="#">x</a>
    </nav>
    <nav class="nav" role="navigation">
      <div class="primary-nav" aria-label="primary navigation">
        <a id="nav-home" href="index.html">Home</a>
        <a id="nav-meet" href="hens.html">Meet the Hens</a>
        <a id="nav-blog" href="blog.html">News<span class="new-icon">Fresh!</span></a>
      </div>
      <a class="nav-title-link" id="nav-title" href="index.html">Snicket Eggs</a>
      <div class="secondary-nav" aria-label="secondary navigation">
        <a id="nav-contact" href="contact.html">Contact</a>
      </div>
      <section class="mobile-nav-burger">
        <span></span>
        <span></span>
        <span></span>
      </section> 
    </nav>

    <main class="container-blog" id="blog">
      <h1 class="blog-page-title">News</h1>

      <section v-cloak class="blog-list" id="blog-list">
        <article class="blog-item" v-for="post in blogPosts">
          <h3 class="blog-title">{{post.title}}</h3>
          <p class="blog-date">{{post.dateString}}</p>
          <section v-show="post.expanded === false" class="blog-preview-container">
            <p class="blog-text blog-text-preview">{{post.snippet}}</p>
            <img v-if="post.mainImage && post.mainImage.asset && post.mainImage.asset._ref && post.mainImage._type === 'image'" class="preview-image" v-bind:src='imageUrlMaker(post.mainImage.asset._ref, 80)' v-bind:alt='post.title' >
          </section>
          <section v-show="post.expanded === true" class="blog-text-container">
            <img v-if="post.mainImage && post.mainImage.asset && post.mainImage.asset._ref && post.mainImage._type === 'image'" class="blog-main-image lightboxable" v-bind:src='imageUrlMaker(post.mainImage.asset._ref, 800)' v-bind:alt='post.title'>
            <section class="blog-block-iterator" v-for="bodyItem of post.body">
              <img v-if="bodyItem._type === 'image' && bodyItem.asset && bodyItem.asset._ref" class="blog-image lightboxable" v-bind:src='imageUrlMaker(bodyItem.asset._ref, 500)' />
              <p class="blog-text" v-if="bodyItem._type === 'block'">{{bodyItem.children[0].text}}</p>
            </section>
          </section>
          <button class="blog-expand-button" v-on:click="expand(post._id)">{{post.expanded ? 'Less' : 'More'}}</button>
        </article>
      </section>

    </main>

    <footer class="footer">
      <nav class="footer-nav" role="navigation">
        <a class="footer-nav-link" href="index.html">Home</a>
        <a class="footer-nav-link" href="hens.html">Meet the Hens</a>
        <a class="footer-nav-link" href="blog.html">News</a>
        <a class="footer-nav-link" href="contact.html">Contact</a>
      </nav>
      <a class="footer-nav-link webdev-link" href="https://franwebdev.uk/">Fran Whitehead<br>Web Dev</a>
    </footer>
    
    <!-- dev -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>  -->
    <!-- live -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script> 

    <script src="blog-script.js" ></script>
    <script src="blog-app.js"></script>

  </body>
</html>
