<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Snicket Eggs</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Nixie+One" rel="stylesheet">

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <a id="nav-home" href="index.html">Home</a>
        <a id="nav-meet" href="hens.html">Meet the Hens</a>
        <a id="nav-contact" href="contact.html">Contact</a>
      </nav>
    </header>
    <div class="container-meet container-offscreen" id="meet-hens">
      <h1 class="meet-title">Meet the Hens</h1>
      <p class="meet-subtitle">Click on a bird to learn more</p>
      <section class="meet-grid">
        <div id="card-slides">
          <div class="card-slider-wrapper">
            <div class="card" 
            v-for="(breed, i) in breeds" 
            @click="selectBreed(i)"
            v-bind:class="[i === selectedBreed ? 'highlighted-card': '']"
            >
            <img class="breed-image" v-bind:src="breed.img" v-bind:alt="breed.breed" />      
          </div>
        </div>
      </div>
      <div class="breed-selection" >
        <img class="breed-selection-image" v-bind:src="this.displayImage" v-bind:alt="this.displayTitle" />      
        <h2 class="breed-name" v-if="displayActive">{{ this.displayTitle }}</h2>
        <p class="breed-details">{{ this.displayText }}</p>
      </div>
      
    </section>
    
    <!-- dev -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script> 
    <!-- live
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script> -->

    <script src="./data/Chickens.js" defer></script>
    <script src="meet-script.js" async ></script>
    <script src="meet-slider.js" defer></script>

  </body>
</html>
