body {
  background-color: #c7f0ff;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffbf8d' fill-opacity='1'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  margin: 0;
  font-family: 'Nixie One', cursive;
  font-weight: 700;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
  transform: translate(0);
  transition: transform 1s;
}

.container-meet {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
  transform: translate(0);
  transition: transform 1s;
}

.container-contact {
  height: 100vh;
  transform: translate(0);
  transition: transform 1s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: rgb(236, 234, 119)
}

.nav {}

.nav a {
  background-color: rgba(255, 255, 255, 0.555);
  color: #038b48;
  font-weight: 900;
  font-size: 1.3rem;
  text-decoration: none;
  transition: background-color 0.25s, color 0.25s;
  margin: 5px;
  border-radius: 5px;
}

.nav a:hover {
  color: rgb(0, 195, 255);
  background-color: rgba(255, 255, 255, 0.75);
}

.image-box {
  grid-column: 1;
  overflow: hidden;
}

.egg-image {
  width: 800px;
}

.detail-panel {
  grid-column: 2;
  display: grid;
}

.detail-panel-whitebox {
  justify-self: center;
  margin: auto;
  border-radius: 6px;
  width: 300px;
  padding: 30px 0;
  background: rgb(236, 234, 119);
  color: #038b48;
  text-align: center;
}
.detail-panel-whitebox p {
  font-size: 0.9rem;
}

.detail-panel-whitebox p {
  max-width: 80%;
  margin: 0 auto;
}

.price span {
  color: rgb(28, 49, 25);
}

.meet-button {
  background-color: rgba(255, 255, 255, 0.555);
  color: #038b48;
  font-weight: 900;
  font-size: 1.3rem;
  text-decoration: none;
  transition: background-color;
  margin: 10px;
  border-radius: 5px;
}

.meet-button:hover {
  color: rgb(0, 195, 255);
  background-color: rgba(255, 255, 255, 0.75);
  transition: background-color 0.25s, color 0.25s;
} 

.contact-box {
  background: rgb(236, 234, 119);
  color: #038b48;
  border-radius: 5px;
  width: 300px;
  margin: 70px auto;
  padding: 10px;
  text-align: center;
}

@media only screen and (max-width: 650px) {
  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
  }
  .image-box {
    display: none;
  }
  .detail-panel {
    grid-column: 1;
  }
  .detail-panel-whitebox {
    width: 80vw;
    height: 60vh;
    min-height: auto;
    background: rgb(236, 234, 119);
    color: #038b48;
    text-align: center;
    font-size: 1.2rem;
  }
}

.slide-out {
  transform: translate(-100vw);
}
