body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  border: 50px white solid;
}

:root {
  --eggPink: #fcac91;
  --textBlack: rgba(24, 22, 22, 0.925);
  --eggBlue: #8ddaff;
}

p {
  font-size: 0.9rem;
}

.container {
  transform: translate(0);
  transition: transform 1s;
  animation: fadein 0.5s;
}

@keyframes fadein {
  from { 
    opacity: 0; 
  }
  to   { 
    opacity: 1; 
  }
}

@keyframes slideIn {
  from {
    transform: translate(100vw);
  }
  to {
    transform: translate(0);
  }
}

.container-meet {
  min-height: 100vh;
  background-color: #f5fcff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='26' viewBox='0 0 32 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 0v3.994C14 7.864 10.858 11 7 11c-3.866 0-7-3.138-7-7.006V0h2v4.005C2 6.765 4.24 9 7 9c2.756 0 5-2.236 5-4.995V0h2zm0 26v-5.994C14 16.138 10.866 13 7 13c-3.858 0-7 3.137-7 7.006V26h2v-6.005C2 17.235 4.244 15 7 15c2.76 0 5 2.236 5 4.995V26h2zm2-18.994C16 3.136 19.142 0 23 0c3.866 0 7 3.138 7 7.006v9.988C30 20.864 26.858 24 23 24c-3.866 0-7-3.138-7-7.006V7.006zm2-.01C18 4.235 20.244 2 23 2c2.76 0 5 2.236 5 4.995v10.01C28 19.765 25.756 22 23 22c-2.76 0-5-2.236-5-4.995V6.995z' fill='%23c9f9fd' fill-opacity='0.65' fill-rule='evenodd'/%3E%3C/svg%3E");
  animation: slideIn 1s;
  transform: translate(0);
  transition: transform 1s;
}

.container-contact {
  animation: slideIn 1s;
  transform: translate(0);
  transition: transform 1s;
}

.nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: rgb(254, 254, 254);
  box-shadow: 0px 1px 5px 1px #a8909091;
  font-weight: 300;
  height: 75px;
  line-height: 100%;
}

.nav>* {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav a {
  font-size: 1rem;
  text-decoration: none;
  transition: background-color 0.25s, color 0.25s;
  margin: 5px;
  border-radius: 2px;
  padding: 5px 10px;
  color: var(--textBlack);
  background-color: rgba(255, 255, 255, 0.01);
  letter-spacing: 2px;
}

.nav a:hover {
  color: black;
  /* background-color: rgba(250, 250, 250, 0.90); */
  background-color: rgba(169, 199, 212, 0.1);
}

.nav-title-link {
  font-size: 1.5rem;
  font-weight: 700;
  margin: auto;
  justify-content: space-around;
  text-transform: uppercase;
}

#nav-title {
  font-size: 2.2rem;
}

.secondary-nav {
  display: flex;
  justify-content: flex-end;
}

.mobile-nav {
  display: none;
}

.mobile-nav-burger {
  display: none;
}

.image-box {
  margin-top: 25px;
  overflow: hidden;
  height: 500px;
  height: 75vh;
  position: relative;
}

.egg-image {
  object-fit: fill;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(75%);
}

.image-overlay-text {
  position: absolute;
  top: 80px;
  z-index: 2;
  color: white;
  font-weight: 700;
  font-size: 5rem;
  text-align: center;
  padding: 0 100px;
}

.add-top {
  top: 0px;
  padding: 0 80px;
}

.detail-panel {
  margin: 50px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.detail-panel-whitebox {
  background: white;
  color: rgb(12, 12, 12);
  padding: 30px 50px;
  font-weight: 300;
}

.smaller-image {
  object-fit: fill;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(90%);
  transition: filter 0.3s;
}

.smaller-image:hover {
  filter: brightness(100%);
}

.image-container {
  overflow: hidden;
}

.detail-panel-whitebox p {
  font-size: 0.9rem;
  margin: 0 auto;
}

.details {
  white-space: pre-wrap;
}

.details-title {
  text-transform: uppercase;
  color: var(--eggPink);
  font-size: 2rem;
}

.price {
  color: var(--eggPink);
  font-size: 1.3rem;
}

.price span {
  background: rgba(255, 255, 255, 0.466);
}

.button-container {
  margin-top: 20px;
}

.meet-button {
  text-decoration: none;
  border-radius: 3px;
  padding: 5px 0;
  font-size: 1rem;
  text-decoration: none;
  transition: background-color 0.25s, color 0.25s;
  margin: 5px;
  color: var(--textBlack);
  background-color: rgba(255, 255, 255, 0.01);
  letter-spacing: 2px;
}

.meet-button:hover {
  color: black;
  background-color: rgba(169, 199, 212, 0.2);
} 

.quote-image {
  height: 100vh;
  margin: 25px 0;
}

.location {
  padding: 20px;
  text-align: center;
  color: var(--textBlack);
  margin: 25px 0;
}

.location > * {
  max-width: 65%;
  margin: 10px auto;
}

.location-title {
  font-size: 3rem;
  text-align: left;
  color: var(--eggPink);
}

.location-text {
  font-weight: 300;
  text-align: left;
  font-size: 1.1rem;
}

.gallery {
  margin: 25px auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr) );
  grid-gap: 25px;
}

.gallery-title {
  grid-column: 1/4;
  color: var(--textBlack);
  font-size: 2rem;
  text-align: center;
}

.gallery-image-box {
  overflow: hidden;
}

.gallery-image {
  width: 300px;
  width: auto;
  height: 280px;
  object-fit: contain;
  filter: brightness(75%) blur(0);
  transition: filter 0.3s;
  border-radius: 3px;
}

.gallery-image:hover {
  filter: brightness(100%);
}

.footer {
  background: #e9f3f7;
  width: 100%;
  min-height: 100px;
  position: relative;
  bottom: 0;
}
.container .footer {
  position: static;
}

.container-meet .footer {
  position: relative;
}

.container-contact .footer {
  position: relative;
}

.footer-nav {
  padding: 0 100px;
}

.footer-nav-link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 300;
  color: var(--textBlack);
  background-color: rgba(255, 255, 255, 0.01);
  display: block;
  width: 125px;
  transition: background-color 0.25s, color 0.25s;
  margin: 5px;
  border-radius: 2px;
  padding: 5px 10px;
}

.footer-nav-link:hover {
  color: black;
  background-color: rgba(250, 250, 250, 0.986);
  background-color: rgb(221, 238, 253);
}

.webdev-link {
  font-size: 0.65rem;
  position: absolute;
  right: 50px;
  bottom: 5px;
  text-align: center;
  width: 100px;
}

.lightbox-container.open {
  display: flex;
}

.lightbox-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: var(--eggPink);
  background-color: rgba(19, 18, 18, 0.6);
  animation: fadein 0.25s;
}
.lightbox {
  padding: 20px;
  padding-bottom: 10px;
  background: whitesmoke;
}

.lightbox-text {
  position: relative;
  font-size: 0.8rem;
  font-weight: 300;
  padding: 0;
  left: 5px;
  margin: 0px;
}

.lightbox-image {
  width: 75vw;
  height: auto;
  max-height: 95vh;
}
.close-button {
  color: whitesmoke;
  font-size: 3rem;
  position: fixed;
  right: 50px;
  top: 10px;
}

.close-button:hover {
  color: white;
}

.arrows {
  font-size: 3rem;  
  position: fixed;
  color: var(--eggPink);
  z-index: 5;
}

.arrows:hover {
  color: white;
}

.left {
  left: 1%;
}

.right {
  right: 1%;
}

.meet-title {
  margin: 0;
  margin-top: 30px;
  text-align: center;
  color: var(--textBlack);
  text-shadow: 2px 4px 3px 1px var(--textBlack);
  color: var(--eggPink);
  font-size: 4rem;
}

.meet-subtitle {
  text-align: center;
  color: var(--textBlack);
  text-shadow: 2px 4px 3px 1px var(--textBlack);
  color: var(--eggPink);
  font-size: 1rem;
  font-weight: 300;

}

.meet-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 95%;
  margin: auto;
}

.breed-selection {
  font-weight: 300;
  text-align: center;
  padding: 30px;
  border-radius: 6px;
  color: var(--textBlack);
  background: rgba(255, 253, 253, 0.575);
  text-shadow: 2px 4px 3px 1px rgb(255, 254, 254);
  margin-top: 20px;
  opacity: 1;
  transition: opacity 100ms ease-in;
}

.breed-selection-image {
  max-width: 350px;
  height: 350px;
  border-radius: 2%;
}

#card-slides {
  padding: 15px;
}

.card-slider-wrapper {
  display: flex;
  flex-flow: wrap;
}

.card {
  width: 180px;
  border-radius: 6px;
  padding: 20px;
  text-align: center;
  background-color: rgb(245, 247, 255);
  background-color: white;
  flex: 1;
  align-items: stretch;
  opacity: 0.8;
  transition: opacity 300ms linear, transform 300ms cubic-bezier(0.5, 0.03, 0.5, 0.9), box-shadow 300ms, background-color 300ms;
  transform: scale(0.925);
}

.card:hover {
  background-color: rgb(233, 237, 252);
}

.highlighted-card {
  box-shadow: 3px 5px 8px 1px #a29999;
  opacity: 1;
  transform: scale(1);
}

.breed-image {
  max-width: 180px;
  height: 180px;
  border-radius: 4px;
}

.breed-details {
  font-size: 0.9rem;
}

[v-cloak] { display: none; }

.container-blog {
  animation: fadein 1s;
  margin-top: 30px;
  max-width: 75%;
  margin: 0 auto;
}

.blog-page-title {
  color: var(--eggPink);
  font-size: 2.5rem;
  margin: 50px 0 0 0;
}

.blog-preview-container {
  display: grid;
  grid-template-columns: 75% 1fr;
}

.preview-image {
  margin: auto;
}

.blog-list {
  animation: fadein 1s;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.blog-item {
  font-weight: 400;
  color: var(--textBlack);
}

.blog-title {
  font-size: 1.5rem;
}

.blog-date {

}

.blog-text {
  animation: fadein 0.5s;
}

.blog-text-preview {
}

.blog-expand-button {
  background-color: var(--eggPink);
  background-color: var(--eggBlue);
  color:rgb(250, 243, 243);
  border: none;
  border-radius: 2px;
  padding: 3px 10px;
  margin: 0;
  font-size: 1rem;
  transition: background-color 0.2s;
}

.blog-expand-button:hover {
  background-color:  rgb(123, 176, 255);
  background-color: var(--eggPink);

}

.blog-main-image {
  display: block;
  width: 75%;
  margin: 0 auto;
  animation: fadein 0.5s;
}

.blog-image {
  display: block;
  width: 50%;
  margin: 0 auto;
  animation: fadein 0.5s;
}

.contact-box {
  color: rgb(14, 14, 14);
  padding: 20px 0;
  text-align: center;
  margin: 0;
  margin-top: 30px;
}

.contact-heading {
  color: var(--eggPink);
}

.contact-details {
  font-weight: 300;
  font-size: 1rem;
  width: 75%;
}

.contact-box > * {
  margin: 15px auto;
}

.contact-chicken {
  width: 550px;
  filter: grayscale(100%);
}

.contact-map-link {
  text-decoration: underline;
  color: var(--eggPink);
  font-weight: 700;
}

.contact-map-link:hover {
  color: rgb(216, 240, 255);
} 

.slide-out {
  transform: translate(-100vw);
}

.faded {
  opacity: 0;
}

.lazy {
  filter: blur(100px);
}

@media only screen and (min-width: 980px) and (max-width: 1100px) {
  .add-top {
    top: -40px;
    font-size: 4.5rem;
  }
}

@media only screen and (max-width: 1010px) {
  .nav a {
    font-size: 0.95rem;
    padding: 5px 5px;
  }
  #nav-title {
    font-size: 2rem;
  }
  .image-overlay-text {
    top: 60px;
    padding: 0 50px;
  }
  .meet-button {
    font-size: 0.95rem;
  }

  .detail-panel {
    display: block;
  }
  
  .image-container {
    display: none;
  }


  .price {
    text-align: center;
  }
  .detail-panel-whitebox .contact {
    text-align: center;
  }

  .detail-panel-whitebox .button-container {
    text-align: center;
  }
  .add-top {
    font-size: 4.5rem;
    top: -40px;
  }

  .gallery {
    margin: 0px auto;
    grid-template-columns: repeat(2, minmax(250px, 1fr) );
    grid-gap: 20px;
  }
  
  .gallery-title {
    grid-column: 1/3;
    color: var(--textBlack);
    font-size: 2rem;
  }

  .card {
    width: 140px;
    height: 140px;
  }
  .breed-image {
    width: 140px;
    height: 140px;
  }
  .breed-selection-image {
    max-width: 280px;
    height: 280px;
    border-radius: 1%;
  }
  .blog-main-image {
    width: 100%;
  }
  .blog-image {
    width: 75%;
  }
}

@media only screen and (max-width: 870px) {
  .nav a {
    font-size: 0.9rem;
    padding: 5px 5px;
    text-align: center;
  }
  #nav-title {
    font-size: 1.5rem;
  }
  .image-overlay-text {
    top: 60px;
    padding: 0 15px;
    font-size: 4.5rem;
  }

  .detail-panel {
    margin: 10px 0;
  }

  .detail-panel-whitebox {
    padding: 15px 30px;
  }

  .add-top {
    top: -40px;
    font-size: 4rem;
  }
  
  .location > * {
    max-width: 75%;
  }
  
  .location-title {
    font-size: 2.5rem;
  }
  
  .location-text {
    font-size: 1rem;
  }

  .footer {
    margin-top: 20px;
  }
  
  .footer-nav {
    padding: 0 10px;
  }
  
  .footer-nav-link {
    font-size: 0.9rem;
  }

  .webdev-link {
    font-size: 0.65rem;
    right: 5px;
  }

  .card {
    width: 100px;
    height: 100px;
  }
  .breed-image {
    width: 100px;
    height: 100px;
  }
  .breed-selection-image {
    max-width: 230px;
    height: 230px;
  }
}

@media only screen and (max-width: 650px) {
  .mobile-nav-burger {
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 3px;
    height: 40px;
    width: 40px;
    transition: background-color 0.25s;
  }

  .mobile-nav-burger:hover {
    background-color:  rgba(175, 175, 175, 0.5);
  }

  .mobile-nav-burger span {
    border: 2px var(--textBlack) solid;
    border-radius: 10px;
    width: 50%;
    margin: 15% auto;
    display: block;
  }

  .mobile-nav {
    display: block;
    position: fixed;
    top: 0;
    z-index: 4;
    background: #fcac91f3;
    width: 100%;
    text-align: center;
    left: 0;
    height: 100vh;
    transform: translate(0, -100%);
    transition: transform 0.5s;
  }

  .mobile-nav a {
    display: block;
    text-decoration: none;
    font-weight: 300;
    font-size: 4rem;
    color: rgb(216, 240, 255);
  }
  .mobile-nav a:hover {
    background: pink;
  }

  .mobile-nav.open-nav {
    transform: translate(0, 0%);
  }
  
  .nav-title-link {
    font-size: 1rem;
  }

  .primary-nav {
    display: none;
  }
  
  .secondary-nav {
    display: none;
  }
  
  .image-overlay-text {
    top: 40px;
    padding: 0;
    font-size: 3.5rem;
    width: 90%;
    text-align: center;
    width: 100%;
  }
  .detail-panel-whitebox {
    padding: 5px;
  }
  .detail-panel-whitebox .details-title {
    text-align: center;
  }
  .detail-panel-whitebox .details {
    text-align: center;
  }

  .add-top {
    top: -40px;
    font-size: 3.5rem;
  }

  .location > * {
    max-width: 100%;
  }
  
  .location-title {
    font-size: 2.3rem;
  }
  
  .location-text {
    font-size: 1rem;
  }

  .gallery {
    display: block;
  }

  .gallery-image-box {
    margin-bottom: -10px;
  }

  .gallery-image {
    object-fit: cover;
    width: 100%;
    height: 250px;
  }

  .lightbox-text {
    font-size: 0.6rem;
    left: 0px;
  }

  .arrows {
    display: none;
  }

  .footer-nav {
    padding: 0px 0px;
  }

  .meet-grid {
    width: 100%;
  }

  .breed-selection {
    margin-top: 0px;
  }

  .card {
    width: 90px;
    height: 90px;
  }
  .breed-image {
    width: 90px;
    height: 90px;
  }
  .breed-selection-image {
    max-width: 180px;
    height: 180px;
  }

  .contact-box {
    border-radius: 5px;
    width: 300px;
    width: 75vw;
    padding: 20px 0;
  }

  .contact-box > * {
    width: 100%;
  }
  .contact-chicken {
    border: solid red 10px;
    width: 200px;
  }
}

@media only screen and (max-width: 510px) and (min-width: 480px) {
  .add-top {
    top: -40px;
    font-size: 3rem;
  }
}

@media only screen and (max-width: 480px) {
  body {
    border: 25px white solid;
  }
  .image-overlay-text {
    top: 40px;
    font-size: 2.8rem;
    margin: auto;
  }

  .image-box {
    height: 450px;
  }

  .add-top {
    top: 0;
    font-size: 2.6rem;
  }
  
  .location-title {
    font-size: 2rem;
  }
  
  .location-text {
    font-size: 0.9rem;
  }

  .gallery {
    grid-template-columns: 1fr;
    grid-gap: 5px;
  }

  .card {
    width: 80px;
    height: 80px;
    padding: 8px;
  }
  .breed-image {
    width: 80px;
    height: 80px;
  }

  #card-slides {
    padding: 5px;
  }

  .breed-selection {
    padding: 10px;
  }

  .breed-selection-image {
    max-width: 160px;
    height: 160px;
  }
  
}

@media only screen and (max-width: 430px) {
  .add-top {
    font-size: 2rem;
  }
  #card-slides {
    padding: 0px;
  }
  .card {
    padding: 4px;
  }
  .breed-selection-image {
    width: 125px;
    height: 125px;
  }
  .breed-selection {
    padding: 2px;
  }
  .breed-name {
    font-size: 1rem;
  }
  .breed-details {
    font-size: 0.8rem;
  }
}