body {
  background-color: #c7f0ff;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffbf8d' fill-opacity='1'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  margin: 0;
  font-family: 'Nixie One', cursive;
  font-weight: 700;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
  transform: translate(0);
  transition: transform 1s;
}

.container-meet {
  height: 100vh;
  transform: translate(0);
  transition: transform 1s;
}

.container-contact {
  height: 100vh;
  transform: translate(0);
  transition: transform 1s;
}

.container-offscreen {
  transform: translate(100vw);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: rgb(236, 234, 119)
}

.nav {
  height: 40px;
}

.nav a {
  background-color: rgba(255, 255, 255, 0.555);
  color: #038b48;
  font-weight: 900;
  font-size: 1.3rem;
  text-decoration: none;
  transition: background-color 0.25s, color 0.25s;
  margin: 5px;
  border-radius: 5px;
}

.nav a:hover {
  color: rgb(0, 195, 255);
  background-color: rgba(255, 255, 255, 0.75);
}

.image-box {
  grid-column: 1;
  overflow: hidden;
}

.egg-image {
  width: 800px;
}

.detail-panel {
  grid-column: 2;
  display: grid;
}

.detail-panel-whitebox {
  justify-self: center;
  margin: auto;
  border-radius: 6px;
  width: 300px;
  padding: 30px 0;
  background: rgb(236, 234, 119);
  color: #038b48;
  text-align: center;
  box-shadow: 3px 3px 1px 1px #6f6f6f2e;
}
.detail-panel-whitebox p {
  font-size: 0.9rem;
}

.detail-panel-whitebox p {
  max-width: 80%;
  margin: 0 auto;
}

.price span {
  color: rgb(255, 255, 255);
}

.meet-button {
  background-color: rgba(255, 255, 255, 0.555);
  color: #038b48;
  font-weight: 900;
  font-size: 1.3rem;
  text-decoration: none;
  transition: background-color;
  margin: 10px;
  border-radius: 5px;
}

.meet-button:hover {
  color: rgb(0, 195, 255);
  background-color: rgba(255, 255, 255, 0.75);
  transition: background-color 0.25s, color 0.25s;
} 

.meet-title {
  margin-top: 65px;
  text-align: center;
  color: #038b48;
  text-shadow: 2px 4px 3px #12558547;
}

.meet-subtitle {
  text-align: center;
  color: #038b48;
  text-shadow: 2px 4px 3px #12558547;
}

.meet-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 95%;
  margin: auto;
}

.breed-selection {
  text-align: center;
  padding: 30px;
  border-radius: 6px;
  color: #157b49;
  text-shadow: 2px 4px 3px #12558547;
  /* background: #8ce68359; */
  margin-top: 20px;
  border-radius: 6px
}

.breed-selection-image {
  max-width: 350px;
  height: 350px;
  border-radius: 2%;
}

.breed-details {
  text-shadow: 1px 3px 2px #0000001e;
}

#card-slides {
  /* margin-top: 10px; */
  padding: 15px
}

.card-slider-wrapper {
  display: flex;
  flex-flow: wrap;
}

.card {
  width: 180px;
  border-radius: 6px;
  padding: 20px;
  text-align: center;
  background-color: rgb(241, 240, 159);
  color: #038b48;
  flex: 1;
  opacity: 0.8;
  transition: opacity 300ms linear, transform 300ms cubic-bezier(0.5, 0.03, 0.5, 0.9), box-shadow 300ms, background-color 300ms;
  transform: scale(0.925);
}

.card:hover {
  background-color: rgb(245, 243, 131);
  
}

.highlighted-card {
  box-shadow: 3px 5px 8px 1px #a29999;
  opacity: 1;
  transform: scale(1);
}

.breed-image {
  max-width: 200px;
  height: 200px;
  border-radius: 4px;
}

.breed-details {
  font-size: 0.9rem;
}

.contact-box {
  background: rgb(236, 234, 119);
  color: #038b48;
  border-radius: 5px;
  width: 300px;
  padding: 20px 0;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 3px 3px 1px 1px #6f6f6f2e;
}

.contact-box > * {
  max-width: 80%;
  margin: 15px auto;
}

@media only screen and (max-width: 650px) {
  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
  }
  .image-box {
    display: none;
  }
  .detail-panel {
    grid-column: 1;
  }
  .detail-panel-whitebox {
    width: 80vw;
    height: 60vh;
    min-height: auto;
    background: rgb(236, 234, 119);
    color: #038b48;
    text-align: center;
    font-size: 1.2rem;
  }
}

.slide-out {
  transform: translate(-100vw);
}
